# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
# 
# 
# 
# 
# 
/src/app/Recomendations
/src/app/Models
/src/SharedItems/UUIDGenerator.ts
/src/Resources
# 
# 
/src/app/Pages/Auth
/src/app/Pages/DunbarColony/DunbarBackend
/src/app/Pages/DunbarColony/DunbarContext/DunbarContext.tsx
/src/app/Controller
/src/app/fb
/src/app/Components/Games
# 
/src/app/Pages/Home/ContentView/ContentView.tsx
/src/app/Components/GifComponent/GifComponent.tsx
/src/app/Pages/DunbarColony/DunbarColonyComponents/DunbarSubThreadPopUp/DunbarSubThreadVoting/DunbarSubThreadVoting.tsx
/src/app/Pages/DunbarColony/DunbarColonyComponents/DunbarSubThreadPopUp/DunbarSubThreadPopUp.tsx
# 
/src/app/Pages/FavoritesView/FavoritesItemView.tsx
# 
/src/app/Pages/FilterView/FilterBackendController.ts
# 
/src/app/Pages/JoinAnotherCommunity
# 
/src/app/Pages/Messages/DirectMessages.tsx
/src/app/Pages/Messages/DirectMessagesMobile.tsx
/src/app/Pages/Messages/DirectMessagesMobile.css
# 
/src/app/Pages/NewUserPage/NewUserPageMobile_ios_for_review_.tsx
/src/app/Pages/NewUserPage/NewUserPageMobile_IOS.tsx
/src/app/Pages/NewUserPage/NewUserPageMobile.tsx
# 
/src/app/Pages/PostController
# 
/src/app/Pages/Profile/PostItem.tsx
/src/app/Pages/Profile/EditProfileMobile
/src/app/Pages/Profile/EditProfile/EditProfile.tsx
# 
/src/app/Pages/TestView/TestView.tsx
/src/app/Pages/TestView/CompletedView.tsx
/src/app/Pages/TestView/InvitationExamOptionView.tsx
# 
/src/app/Pages/ViewLater/ViewItemView.tsx
# 
/src/app/Pages/VideoHistory/VideoHistoryItemView.tsx
# 
/src/app/Contexts
# 
/src/app/Components/MoviePlayer_before_mux.tsx
/src/app/Components/ThumbSlider
# 
/src/app/Components/TextTransformers/MathModeStyles.css
/src/app/Components/TextTransformers/MathModeTransformer.ts
/src/app/Components/TextTransformers/SymbolList.ts
# 
/src/app/Components/TermsOfService/TermsOfService.tsx
#
/src/app/Components/Stories/Stories.tsx
# 
/src/app/Components/StartDirectMessageController/StartDirectMessageController.tsx
# 
/src/app/Components/SharedPost
# 
/src/app/Components/PrivacyPolicy/PrivacyPolicy.tsx
# 
/src/app/Components/NotificationView/Notification.tsx
# 
/src/app/Components/LiveSession/LiveSessionEmbeded
/src/app/Components/LiveSession/LiveSessionMobile
/src/app/Components/LiveSession/LiveSessionView/SimpleLiveSession.tsx
/src/app/Components/LiveSession/LiveSessionView/LiveSessionMobile.tsx
/src/app/Components/LiveSession/LiveSessionView/LiveSessionController/LiveSessionController.ts
# 
/src/app/Components/EULA_Agreement/EULA_Agreement.tsx
# 
/src/app/Components/DesiredFeaturesMobile
# 
/src/app/Components/DesiredFeatures/DesiredFeaturesController.ts
# 
/src/app/Components/DeleteAccountRequest
# 
/src/app/Components/ContentComponents
# 
/src/app/Components/CommentSection/CommentSectionMobile.tsx
/src/app/Components/CommentSection/CommentSection.tsx
/src/app/Components/CommentSection/Comments_DB_Methods.ts
/src/app/Components/CommentSection/CommentSectionMobile.css
# 
/src/app/Components/Careers
# 
/src/app/Components/BackgroundUI
# 
/src/app/Components/Anonymous/AnonymousPostController
# 
/src/app/Components/Ads
# 
/src/app/Components/About/About.tsx
# 
/src/app/Components/Games/PacManny/Pacman.tsx
# 
/public/ads.txt
/public/app-ads.txt